body{
	background-color: #616a73;
	padding-top: 250px;
}


/*==================	SITE HEADER		==================*/
#siteHeader{
	height: 240px;	
	background-color: rgba(97, 105, 115, 0.9);
	font-size: 10px;
}

#siteHeader img{
	z-index: 1000;
}

#siteHeader hr{
position: absolute; 
	top: 70px;
	width: 100%;
	height: 20px;
	background-color: #616973;
	z-index: -1000;
	left: 0;
}

#laboTitle, #doctorTitle{
	position: absolute;
	color: white;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 20pt;
}

#laboTitle{	
	right: 100px;
	top: 135px;
}

#doctorTitle{
	right: 10px;
	top: 10px;
}

#banner-footer{
 	background-color: #979ca0;
}

.hide-banner{
	float: right; 
	color: white; 
	font-weight: bold; 
	font-size: 20pt; 
	margin-top: 10px; 
	cursor:pointer;
}

/*==================	SITE MENU	==================*/
#menu {
	margin-top: 10px;
}

#menu span{
	margin-left: 30px;
}

#menu a{
	color: white;
	font-size: 1.5em;
}

#menu img{
	width: 80px;
	height: 80px;
}

#menuInfoBar{
	color: #1d88d8;
	margin-top: 10px;
	font-size: 16px;
	float: left;
}

/*==================	SITE DOCUMENT	==================*/
#document{
	margin-top: 70px;
	
}

/*================== PANEL INFO	==================*/
.panel{
	background-color: white;	
}

.panel li a, .panel li{
	color: black;
	font-size: 10px;
}

.panel li:first-child{
	background-color: #1985c0;
	color: #fafafa;
	font-family: 'Corben', cursive;
}

.panel div{
	display: inline-block; 
	width: 87px; 
	text-align: center;
}

.panel div:first-child{
	text-align: left;
	width: 100px;
}

.panel div:last-child{
	text-align: right;
	width: 130px;
}



/*================== CONTENT ==================*/

.content{
	background-color: white;
	border-radius: 8x; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border: 2px solid black;
	font-size: 11px;
	padding: 10px;
}

.content th{
	color: #788d28;
	font-size: 13px;
}

.content h3{
	color: #59617d;
	font-family: 'Mate', serif;
}


/*================== FORM ==================*/
/*#form label{
	color: white;	
	margin-right: 20px;
	padding-top: 5px;
	font-family: 'Corben', cursive;
}

#form  select {
   -webkit-appearance: none;
    -moz-appearance: button;
    appearance: none;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   background: #fff url("/bundles/forthicimeadmin/images/1372282816_arrow_sans_down.png") no-repeat right center;
   background-color: white;
   color: black;
   padding-left: 10px;
   text-indent:20px;
   margin-right: 10px;
   }

 #form{
 	margin-bottom: 20px; 	
 }
*/
/*================== LOGIN ==================*/   
#loginForm label{
	color: white;
}

/*================== SYNCHRONIZATION ==================*/   

/*--------------- Tabs ---------------*/   
.ui-widget-content
{
    height: 550px;    
}

.ui-tabs-panel
{
	height: 450px;
	overflow: auto;
}


/*--------------- Synchronization Detial ---------------*/   
#synchronizationDetail label
{
	margin-right: 10px;
	color: #788d28;
	font-size: 9pt;
}

#sync_filter_layer{
	
		border: 0px solid black; 
		padding: 10px; 
		background-color: rgba(229, 224, 234, 0.8); 
		height: 80px; 
		border-radius: 8x; 
		-moz-border-radius: 8px; 
		-webkit-border-radius: 8px; 
		margin-bottom: 10px;
}

.mousehover{
	background-color: rgba(46, 50, 75, 0.6);
	curso: pointer;
	color: white;
}

.selected{
	background-color: rgba(46, 50, 75, 0.6);
	color: white;
}

#syncTime{
	color: #788d28;
	font-size: 1.5em;
}
