
{% extends '::base.html.twig' %}

{% block topbar %}
	
{% endblock %}


{% block body %}
	
	<div class="span3">

	</div>

	<div class="span6">			

		<div style="text-align: center; font-size: 13pt;" class="alert alert-error">
			<br />
  			La page demandé n'existe pas
  			<br />
  			&nbsp;
		</div>
    </div>

    <div class="span3">
    	
    </div>

{% endblock %}