jms_security_extra:
    secure_all_services: false
    expressions: true

security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        Forthicime\MedecinBundle\Entity\Medecin: plaintext

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        chain_provider:
            chain:
                providers: [in_memory, main]
        in_memory:
            memory:
                users:
                    admin: { password: uXjh123@fi, roles: 'ROLE_SUPER_ADMIN' }
        main:
            entity: { class: Forthicime\MedecinBundle\Entity\Medecin, property: identifiant}

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false
        # admin:
        #     provider: in_memory
        #     pattern: ^/forthicime/admin
        #     form_login:
        #         login_path: /forthicime/admin/login
        #         check_path: /forthicime/admin/login_check
        #     logout:
        #         path:   /forthicime/admin/logout
        #         target: /forthicime/admin
        #     anonymous: ~
        secured_area:
            provider: main
            pattern:    ^/forthicime
            form_login:
                login_path: /forthicime/login
                check_path: /forthicime/login_check
            logout:
               path: /forthicime/logout
               target: /forthicime
            #logout:
            #    path:   _demo_logout
            #    target: _demo
            anonymous: ~
            #http_basic:
            #    realm: "Secured Demo Area"
            remember_me:
               key:      "%secret%"
               lifetime: 31536000 # 365 days in seconds
               path:     /
               domain:   ~ # Defaults to the current domain from $_SERVER
    access_control:
        # - { path: ^/forthicime/admin/login, roles: IS_AUTHENTICATED_ANONYMOUSLY}
        # - { path: ^/forthicime/admin, roles: ROLE_SUPER_ADMIN}
        - { path: ^/forthicime/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/forthicime, roles: ROLE_ADMIN }

